* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
a:hover,
a:focus {
    text-decoration: underline;
}

h3 {
    font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background: rgb(61, 79, 93);
    color: #fff;
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
}

.nav-item-disconnect a:hover,
.nav-item-disconnect a:focus {
    border: 2px solid #DF2D4F;
    text-decoration: none;
}

.name-self-sent {
    text-transform: uppercase;
    color: #2d3e50;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.name-sender {
    text-transform: uppercase bold;
    color: grey;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.send-message {
    height:32px;
    width:32px;
    border: none;
    cursor: pointer;
    color:white;
    background-color: #1f8dd6;
    position:relative;
}

.post {
    padding-bottom: 0.25em;
}
.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}
.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.post-description {
    font-family: Helvetica;
    color: #444;
    line-height: 1.8em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}
    .post-category-design {
        background: #5aba59;
    }
    .post-category-pure {
        background: #4d85d1;
    }
    .post-category-yui {
        background: #8156a7;
    }
    .post-category-js {
        background: #df2d4f;
    }

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.footer {
    background-color: black;
    text-align: center;
    padding: 1em 0;
    position: fixed;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

.campaign-footer {
  position:fixed;
  bottom:0;
  width:inherit;
  background:#6CC644;
  position:inherit;
  text-align:center;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    margin-top: 10em;
    margin-bottom: 1em;
    width:68%;
    height:7%;
    outline:none;
    resize: none;
    bottom: 0px;
    position: fixed;
}

@media only screen and (max-device-width: 480px) {
  .pure-form textarea {
      border: 2px solid #ddd;
      box-shadow: none;
      font-size: 100%;
      margin-top: 10em;
      margin-bottom: 1em;
      width:90%;
      height:7%;
      outline:none;
      resize: none;
      bottom: 0px;
      position: fixed;
  }

  .chat {
      width: 90%;
      margin-bottom: 3em;
      height: 50%;
      overflow-y: scroll;
      outline:none;
      resize: none;
      position: fixed;
  }
  .content {
      padding: 2em 1em 0;
  }
}

#disconnect-button {
    background: none;
    color: rgb(176, 202, 219);
    opacity: 0%;
    font-size: 22px;
    border: none;

}
#disconnect-button:hover {
    color: #DF2D4F;
    border: none;
}

@font-face {
  font-family: "Aller";
  src: url(Aller_Std_Bd.ttf) format("truetype");
}

@media (min-width: 48em) {
    .content {
        max-height: 100%;
        overflow: hidden;
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .chat {
        width: 100%;
        margin-bottom: 3em;
        width:68%;
        height: 85%;
        overflow-y: scroll;
        outline:none;
        resize: none;
        position: fixed;
    }

    .pure-form textarea {
        border: 2px solid #ddd;
        box-shadow: none;
        font-size: 100%;
        margin-top: 10em;
        margin-bottom: 1em;
        width:68%;
        height:7%;
        outline:none;
        resize: none;
        bottom: 0px;
        position: fixed;
    }

    .header {
        margin: 80% 2em 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}
